<connectionStrings>
  <add name="My_DB_DATOS_01" connectionString="Data Source=DESKTOP-V192TJB;Initial Catalog=DB_ASIGNACION_ACTIVOS_FIJOS;User ID=sa;Password=123456;" providerName="System.Data.SqlClient"/>
  <add name="My_DB_DATOS_02" connectionString="Data Source=DESKTOP-V192TJB;Initial Catalog=DB_ASIGNACION_ACTIVOS_FIJOS;User ID=sa;Password=123456;" providerName="System.Data.SqlClient"/>
</connectionStrings>