<appSettings>
  <add key="xREF_RPT" value="/ASIGNACION_ACTIVOS_FIJOS_RPT/Frm_REPORTES.aspx" />
  <add key="xHOST_APP" value="/ASIGNACION_ACTIVOS_FIJOS" />
  <add key="xHOST_APP_PORTAL" value="/ASIGNACION_ACTIVOS_FIJOS/Dologin" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
